<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>OneDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://giftfunc2026-aphddzaybgfcd7e5.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/04e3a874-6379-42e4-b344-68bfdfa82531/resourceGroups/GiftRG/providers/Microsoft.Web/sites/giftfunc2026</ResourceId>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://giftfunc2026-aphddzaybgfcd7e5.scm.southafricanorth-01.azurewebsites.net/</PublishUrl>
    <UserName>$giftfunc2026</UserName>
  </PropertyGroup>
</Project>